In [64]:
# importing necessary libraries:
import pandas as pd
import numpy as np
import sqlite3
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as stats

In [65]:
# Read all our data:
movie_gross = pd.read_csv(r"C:\Users\USER\Desktop\project2\PHASE2_PROJECT-inferential-statistics-\data\bom.movie_gross.csv.gz")
movie_info = pd.read_csv(r"C:\Users\USER\Desktop\project2\PHASE2_PROJECT-inferential-statistics-\data\rt.movie_info.tsv.gz", sep='\t')
reviews = pd.read_csv(r"C:\Users\USER\Desktop\project2\PHASE2_PROJECT-inferential-statistics-\data\rt.reviews.tsv.gz", sep='\t', on_bad_lines='skip', encoding='latin1')
mdb_movies = pd.read_csv(r"C:\Users\USER\Desktop\project2\PHASE2_PROJECT-inferential-statistics-\data\tmdb.movies.csv.gz")
movie_budgets = pd.read_csv(r"C:\Users\USER\Desktop\project2\PHASE2_PROJECT-inferential-statistics-\data\tn.movie_budgets.csv.gz")

In [66]:
movie_gross.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [67]:
movie_info.head()

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN

In [68]:
reviews.head()

,id,review,rating,fresh,critic,top_critic,publisher,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
1,3,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,0,io9.com,"May 23, 2018"
2,3,... life lived in a bubble in financial dealin...,NaN,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018"
3,3,Continuing along a line introduced in last yea...,NaN,fresh,Daniel Kasman,0,MUBI,"November 16, 2017"
4,3,... a perverse twist on neorealism...,NaN,fresh,NaN,0,Cinema Scope,"October 12, 2017"

In [69]:
mdb_movies.head()

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [70]:
movie_budgets.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

In [71]:
movie_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1560 entries, 0 to 1559
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1560 non-null   int64
 1   synopsis      1498 non-null   object
 2   rating        1557 non-null   object
 3   genre         1552 non-null   object
 4   director      1361 non-null   object
 5   writer        1111 non-null   object
 6   theater_date  1201 non-null   object
 7   dvd_date      1201 non-null   object
 8   currency      340 non-null    object
 9   box_office    340 non-null    object
 10  runtime       1530 non-null   object
 11  studio        494 non-null    object
dtypes: int64(1), object(11)
memory usage: 146.4+ KB

In [ ]:
# Check for missing values in each dataframe
print(movie_gross_df.isna().sum())
print(rating_df.isna().sum())
print(reviews_df.isna().sum())
print(movies_df.isna().sum())
print(movie_budget_df.isna().sum())

In [ ]:
#Create a function to clean up each dataset:
def clean(df):
    #to fill in null values for object types
    for col in df.select_dtypes(include='object').columns:
        df[col].fillna('unknown')
    #to fill in null values for numerical types
    mean_cols = ['popularity', 'vote_average']  # Columns where mean is more appropriate
    median_cols = ['production_budget', 'domestic_gross', 'foreign_gross', 
                   'worldwide_gross', 'vote_count'] #columns where median is more appropriate
    
    for col in mean_cols + median_cols:
        if col in df.columns:
            df[col] = pd.to_numeric(df[col].replace(r'[^0-9\.]', '', regex=True), errors='coerce')

    for col in mean_cols:
        if col in df.columns:
            df[col].fillna(df[col].mean())
    for col in median_cols:
        if col in df.columns:
            df[col].fillna(df[col].median())
   
    #to fix inconsistent casing
    casing = df.select_dtypes(include = 'object').columns
    df[casing] = df[casing].apply(lambda x: x.str.lower())
   
    #remove whitespace
    df[casing] = df[casing].apply(lambda x: x.str.strip())
   
    #convert columns to numeric(get rid of commas, or currency signs)
    for col in df.columns:
        if 'gross' in col or 'budget' in col or 'revenue' in col:
            df[col] = pd.to_numeric(df[col].replace(r'[\$,]', '', regex=True), errors='coerce')
    
    #Return the clean Datasets
    return df


#apply cleaning to each dataset
movie_info = clean(movie_info)
movie_gross = clean(movie_gross)
reviews = clean(reviews)
movie_budgets = clean(movie_budgets)
mdb_movies = clean(mdb_movies)

In [77]:
movie_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1560 entries, 0 to 1559
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1560 non-null   int64
 1   synopsis      1560 non-null   object
 2   rating        1560 non-null   object
 3   genre         1560 non-null   object
 4   director      1560 non-null   object
 5   writer        1560 non-null   object
 6   theater_date  1560 non-null   object
 7   dvd_date      1560 non-null   object
 8   currency      1560 non-null   object
 9   box_office    1560 non-null   object
 10  runtime       1560 non-null   object
 11  studio        1560 non-null   object
dtypes: int64(1), object(11)
memory usage: 146.4+ KB

In [82]:
#to create an extra column showcasing the gross profit
movie_budgets['Gross_profit'] = (movie_budgets['worldwide_gross'] + movie_budgets['domestic_gross']) - movie_budgets['production_budget']

In [ ]:
# Lets split the genre column
rating_df['genre_split1'] = rating_df['genre'].str.split('|').str[0]

# using the explode function to create a new row containing each genre seperately..
exploded_rating_df = rating_df.explode('genre_split1')

# check the first few rows to verify the transformation..
exploded_rating_df.head()